{
    "0x00000001" : {
        "device_name" : "Wohnzimmer",
        "config_version" : 1,
        "sleep_time_s" : 30,
	"ota_check_after" : 10000,
        "sensor_config" : [
            "misc/adc.json",
            "misc/bme280.json"
        ]
    }
}
