{
    "sensors" : [
        {
            "type" : "DS18B20",
            "pin"  : 12,
            "tags" : "flow",
            "threshold_temp": 0.50,
            "rtcmem_slot" : 3
        }
    ]
}
