{
    "sensors" : [
        {
            "type" : "SML",
            "rx"  : 4,
            "tx"  : 5,
            "tags" : "smart meter",
            "threshold_energy": 1.0,
            "threshold_power": 50.0,
            "rtcmem_slot" : 2
        }
    ]
}
