{
    "sensors" : [
        {
            "type" : "VINDRIKTNING",
            "rx"  : 4,
            "tx"  : 5,
            "tags" : "air - pm 2.5",
            "threshold_pm25": 0.5,
            "rtcmem_slot" : 2
        }
    ]
}
